In [1]:
SELECT * FROM Employees;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Employees'.