In [4]:
SELECT COUNT(*) FROM Employees  AS emp;

(No column name)
6